@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* css pattern which won't break across ranges started*/

/* Prevent overflow issues */
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

/* css pattern which won't break across ranges ended*/

body {
  font-family: "Inter", sans-serif;
}
header {
  background-color: #1a0b2e;
  border-bottom: 1px solid #412567;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
nav section ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
nav section ul li {
  list-style: none;
  color: white;
  cursor: pointer;
}
.nav-btn-icon {
  color: white;
  text-align: center;
}
.toogle-show {
  display: none;
}
.tech {
  color: white;
}
.wave {
  background: linear-gradient(90deg, #f7e93f, #fb09b4, #9100f8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.banner {
  background-image: url("../assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
  /* height: 60vmax; */
}
.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 1.25rem;
}
.hero-circle {
  position: relative;
  background-image: url("../assets/hero-circle.png");
  width: clamp(180px, 30vw, 300px);
  /* width: 30vw; */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  margin-bottom: 1.25rem;
}
.hero-circle span {
  background-color: #00ff88;
  padding: 0.5rem 1.2rem;
  border-radius: 1.5rem;
  font-size: 0.75rem;
  font-weight: bold;
  color: #1a0b2e;
  border: 1px solid #1a0b2e;
  text-align: center;
  position: absolute;
  top: 6%;
  right: -6%;
  box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
}
.hero-circle img {
  width: 40%;
}
.hero-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1.5rem;
}
.hero-txt h2 {
  text-align: center;
  color: white;
  line-height: 1.8;
}
.hero-txt p {
  text-align: center;
  font-size: 0.85rem;
  width: 80%;
  color: rgba(255, 255, 255, 0.822);
}
.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.spotify,
.subscribe {
  background: linear-gradient(90deg, #f7e93f, #fb09b4, #9100f8);
  display: flex;
  gap: 0.05rem;
  padding: 0.45rem 0.5rem;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
.spotify div,
.subscribe div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.spotify div img,
.subscribe div img {
  width: 70%;
}
.spotify div p,
.subscribe div p {
  color: white;
  text-align: center;
  font-weight: bold;
}

.subscribe div p {
  color: #00ff88;
}
.subscribe {
  border: 1px solid #00ff88;
  background: transparent;
}

.about-container {
  padding: 2.5rem 1.25rem;
  background-color: #1a0b2e;
  /* border: 1px solid red; */
}
.about-txt-container {
  /* padding: 2rem; */
  color: white;
  /* border: 2px solid blue; */
  margin-bottom: 1.5rem;
}
/* .about-txt-container section {
  border: 3px solid green;
} */
.about-txt-container section h1 {
  font-size: 1.45rem;
  text-align: center;
}
.about-txt-container section p {
  font-size: 0.75rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.822);
}
.about-heading {
  margin-bottom: 1.5rem;
}
hr {
  border-color: #1a0b2e6e;
}
.statistics-container {
  /* border: 2px solid blue; */
  padding: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.statistics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  place-items: center;
}
.statistics div {
  /* border: 2px solid red; */
  text-align: center;
}
.statistics div h2 {
  color: #00ff88;
  font-weight: bolder;
  font-size: 1.75rem;
}
.statistics div p {
  color: rgba(255, 255, 255, 0.822);
  font-size: 0.85rem;
}

.feature-host-container {
  padding: 2rem 1.25rem;
  /* border: 1px solid red; */
  background-color: #1a0b2ef5;
}

.feature-container {
  /* border: 2px solid blue; */
  padding: 2rem;
  margin-bottom: 2rem;
}
.feature-container section h1 {
  text-align: center;
  font-size: 1.45rem;
  color: white;
}
.iFrame {
  border-radius: 1.5rem;
}
.iFrame iframe {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
.featureHead {
  margin-bottom: 1.5rem;
}
.card-container {
  /* border: 2px solid green; */
  /* border-radius: 1.5rem; */
  display: grid;
  place-items: center;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
  padding: 0.5rem;
}
.video-txt-container {
  padding: 0.25rem;
}
.video-txt-container h2 {
  font-size: 0.95rem;
  /* text-align: center; */
  color: white;
  margin-bottom: 0.3rem;
}
.video-txt-container p {
  text-align: justify;
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.822);
}
.timer {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem;
  color: #00ff88;
  font-weight: bold;
  font-size: 0.85rem;
}
.card {
  border: 3px solid #1a0b2e;
  border-radius: 1.5rem;
}

.host-container {
  /* border: 1px solid red; */
  padding: 2rem 0.75rem;
}
/* .host-container section {
  border: 2px solid blue;
} */
.alex-container {
  border: 0px solid rgba(53, 17, 101, 0.4);
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 1.25rem;
}
.host-head {
  margin-bottom: 1.2rem;
}
.host-container section h1 {
  text-align: center;
  font-size: 1.45rem;
  color: white;
}
.host-fig {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}
.host-fig img {
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-top: 1.2rem;
}
.host-info {
  margin-bottom: 1.25rem;
}
.host-info div {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.host-info div h2 {
  text-align: center;
  font-size: 1.25rem;
  color: white;
  line-height: 1.7;
}
.host-info div p {
  text-align: center;
  font-size: 0.85rem;
  color: rgba(255, 255, 255, 0.822);
  width: 90%;
}
.alex-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  padding-bottom: 1.25rem;
}
.alex-social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 50%;
  border: 1px solid #533c72;
}
.alex-container-laptop {
  display: none;
}
.cursorCls {
  cursor: pointer;
}
button:hover {
  transform: translateY(-3px);
}
button:active {
  transform: translateY(1px);
}

footer {
  background-image: url("../assets/footer-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
  padding: 1.05rem;
}
.project-foot {
  display: grid;
  place-items: center;
  /* padding: 1.2rem; */
  /* margin-bottom: 3rem; */
}
.foot-social {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 0.25rem;
  /* border: 2px solid red; */
  /* padding: 1.25rem; */
  margin-bottom: 1.2rem;
}
.foot-social-layout {
  display: flex;
  /* gap: 0.5rem; */
  align-items: center;
  cursor: pointer;
}
.foot-social-layout img {
  width: 60%;
  display: block;
  margin: 0 auto;
}
.foot-head {
  margin-bottom: 0.3rem;
}
.foot-head h3 {
  font-size: 1.75rem;
  line-height: 1.6;
}
.foot-social-layout section p {
  color: rgba(255, 255, 255, 0.822);
  font-size: 0.55rem;
}
.copyright {
  /* padding: 2rem 0; */
  text-align: center;
  /* background-color: #230e3d; */
  width: 60%;
  /* border: 3px solid red; */
}
.copyright p {
  font-size: 0.5rem;
  color: rgba(255, 255, 255, 0.822);
  letter-spacing: 0.02rem;
}
.foot-social-layout section p {
  font-size: 0.75rem;
}
/* responsiveness started */
@media screen and (min-width: 480px) {
  .about-txt-container section p {
    width: 80%;
    margin: 0 auto;
  }
  .video-txt-container p {
    width: 90%;
    font-size: 0.85rem;
    line-height: 1.5;
  }
  .video-txt-container h2 {
    font-size: 1.25rem;
  }
  .card {
    width: 85%;
  }
}

@media screen and (min-width: 576px) {
  .about-txt-container section p {
    width: 70%;
    margin: 0 auto;
  }
  .card {
    width: 75%;
  }
  .foot-social-layout img {
    width: 70%;
  }
}

@media screen and (min-width: 650px) {
  .card {
    width: 65%;
  }
}

@media screen and (min-width: 768px) {
  .hamburger-menu {
    display: none;
  }
  .toogle-show {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav section h3 {
    font-size: 1.5rem;
  }
  .hero-circle span {
    right: 1%;
  }
  .statistics {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
  .about-txt-container section p {
    width: 60%;
    margin: 0 auto;
  }
  .card {
    width: 100%;
  }
  .card-container {
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
    gap: 0.75rem;
  }
  .video-txt-container p {
    text-align: left;
  }
  .video-txt-container h2 {
    font-size: 0.95rem;
  }
  .alex-container {
    display: none;
  }
  .alex-container-laptop {
    display: block;
    border: 0px solid rgba(53, 17, 101, 0.4);
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 1.25rem;
  }
  .host-intro2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.2rem;
  }
  .host-fig2 {
    /* border: 2px solid blue; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  .host-fig2 img {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  .host-details {
    display: flex;
    flex-direction: column;
  }
  .host-name {
    padding-top: 1.75rem;
    /* padding-bottom: 1.05rem; */
  }
  .host-info2 div h2 {
    font-size: 1.25rem;
    color: white;
    line-height: 1.7;
  }
  .host-info2 div p {
    font-size: 0.85rem;
    color: rgba(255, 255, 255, 0.822);
    width: 90%;
  }
  .alex-social2 {
    display: flex;
    gap: 0.5rem;
    margin-top: 1.5rem;
    padding-bottom: 1.25rem;
  }
  .foot-social {
    grid-template-columns: repeat(4, 1fr);
  }
  .copyright p {
    font-size: 0.65rem;
  }
  .copyright {
    width: 80%;
  }
  .foot-head h3 {
    font-size: 2.2rem;
  }
  .foot-social-layout img {
    width: 80%;
  }
  .foot-social-layout section p {
    font-size: 0.85rem;
  }
}

@media screen and (min-width: 992px) {
  .hero-circle span {
    right: 6%;
  }
  .host-info2 div h2 {
    font-size: 1.75rem;
  }
  .host-info2 div p {
    font-size: 1.05rem;
  }
  .host-fig2 {
    width: 60%;
  }
}

@media screen and (min-width: 1200px) {
  .hero-circle {
    width: clamp(180px, 30vw, 350px);
  }
  .hero-circle span {
    right: 9%;
  }
  .spotify,
  .subscribe {
    padding: 1.05rem 1.25rem;
    border-radius: 1.25rem;
  }
  nav section h3 {
    font-size: 1.85rem;
  }
  .hero-txt h2 {
    font-size: 2.2rem;
  }
  .about-txt-container section h1 {
    font-size: 2.2rem;
  }
  .about-txt-container section p {
    font-size: 1rem;
  }
  .statistics div h2 {
    font-size: 2rem;
  }
  .statistics div p {
    font-size: 1rem;
  }
  .feature-container section h1 {
    font-size: 2.2rem;
  }
  .video-txt-container h2 {
    font-size: 1.05rem;
  }
  .card {
    width: 90%;
  }
  .card-container {
    gap: 0.05rem;
  }
  .host-container section h1 {
    font-size: 2.2rem;
  }
  .host-fig2 {
    width: 40%;
  }
  .project-foot {
    /* padding-bottom: 1.5rem; */
    margin-bottom: 1.2rem;
  }
  .foot-head h3 {
    font-size: 3rem;
  }
  footer {
    padding: 2.5rem;
  }
}

@media screen and (min-width: 1600px) {
  .hero-circle {
    width: clamp(250px, 40vw, 450px);
  }
  .hero-circle span {
    padding: 0.85rem 1.25rem;
    font-size: 1.45rem;
    right: 7%;
  }
  .host-fig2 {
    width: 30%;
  }
}
